
.caja1 {
justify-content: center;
    display: flex;
    /*border: 3px solid black;*/
    width: 300px;
    height: 150px;
    margin: 15px auto;
    padding: 15px; /*Borde de dentro de la caja */
    border-radius: 20px;
    background-color: #009c88ff;
    font-family: Arial, Helvetica, sans-serif;
}


.caja2 {
    background-color: white;
    width: 300px;
    height: 150px;
    border-radius: 20px;
    margin-top: 1%;


}

.targeta {
    color: #009c88ff;
    display: flex;
    padding-top: 10%;
    padding-left: 10%;
    font-weight: 600;
    font-size: 25px;
}

.sub {
    color: rgb(56, 56, 56);
    display: flex;
    padding-left: 10%;
    font-size: 15px;
    padding-bottom: 5px;
}



.titol {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: rgb(0, 119, 103);
    padding: 10px;
}

hr {
  height: 3px;
  padding-left: 10px;
  width: 80%;
  border: 10px;
  background: rgb(105, 105, 105);
}

button {
  border: none;
  color: white;
  padding: 15px 32px;
  background-color: #009c88ff;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin: 0px auto;
  cursor: pointer;
}
